@page "/"

<PageTitle>Index</PageTitle>

<h1>This Project Exhibits the Fault</h1>

<p>Please use the Chrome Performance tab, and profile the app for 10 seconds. Then search for calls to "Install Timer". Do this a minute later. And again. You should notice an increasing number of calls.</p>


